---
const pageTitle = 'About Me';
const identity = {
    name: 'Tracy',
    role: 'Software Engineer',
    location: 'Prescott, AZ',
    bio: 'I am a software engineer based in Prescott, AZ. I love to learn new things and share my knowledge with others.',
}
const skills = ["HTML", "CSS", "JavaScript", "PHP", "Astro"];
const happy = true;
const finished = false;
const goal = 3;

const skillColor = "green";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
<style define:vars={{skillColor}}>
            h1 {
                color: blue;
                font-size: 4rem;
            }
            
            [skill-list-item] {
                /* color: green; */
                color: var(--skillColor);
                font-weight: bold;
            }
        </style>
	</head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog/">Blog</a>
        
        <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>
      
        <p>Hi, I'm {identity.name}, and {identity.bio} I'm adept at:
            <ul>
                {skills.map((skill) => (
                    <li skill-list-item>{skill}</li>
                ))}
            </ul>
        </p>
        
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
      
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
        
        {happy && <p>I'm happy to be learning Astro!</p>}
        
        {finished && <p>I have completed the tutorial!</p>}
        
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
      </body>

</html>
